pydruid==0.5.6
pyhive[kerberos,presto]==0.6.3
mysqlclient==1.4.2.post1
gunicorn[gevent]
# Unreleased version of superset after 1.0.1 with fix for https://github.com/apache/superset/issues/13229
/superset_upstream

pylibmc==1.6.1
